entrypoint = "src/routes/+page.svelte"
modules = ["svelte-kit-node-20:v1-20230724-46059dd"]
run = ["sh", "-c", "npm run dev -- --host"]
[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "build"

[[ports]]
localPort = 4173
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 33757
externalPort = 3000
exposeLocalhost = true
